<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= category.parent_id %>
  </p>

  <p>
    <strong>Depth:</strong>
    <%= category.depth %>
  </p>

</div>
