<div class="flex gap-4">
  <div class="flex flex-col">
    <turbo-frame id="category-header" class="mb-4">
      <%= render partial: 'header', locals: { category: @category } %>
    </turbo-frame>

    <div id="categories_list">
      <% @categories.each do |category| %>
        <%= render partial: 'category', locals: { category: category } %>
      <% end %>
    </div>
  </div>

  <turbo-frame id="subcategory"></turbo-frame>
</div>
