<div>
  <h2 class="text-2xl mb-4">Categories <%= link_to '+', new_category_path, class: 'btn-new' %></h2>

  <ul>
    <% @categories.each do |category| %>
      <li class="flex gap-1">
        <%= render partial: 'subcategory', locals: { category: category } %>
      </li>
    <% end %>
  </ul>
</div>
